{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-console": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ]
  }
}
