{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "array-callback-return": 0,
    "no-unused-expressions": 0,
    "no-plusplus": 0,
    "arrow-parens": 0,
    "no-confusing-arrow": 0,
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ]
  }
}
